---
const pageTitle = 'Resultados de Cálculos Fotovoltaicos';
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="bg-gray-100 dark:bg-gray-100">
    <header class="bg-blue-500 text-white p-4">
        <h1>{pageTitle}</h1>
    </header>
    <main class="container mx-auto p-4">
        <div id="resultados-container" class="relative overflow-x-auto">
            <table  class="w-full text-sm text-left rtl:text-right text-gray-100 dark:text-gray-300">
                <thead class="text-xs text-gray-600 uppercase bg-gray-500 dark:bg-blue-900 dark:text-gray-100">
                    <tr>
                        <th scope="col" class="px-6 py-3">Descripción</th>
                        <th scope="col" class="px-6 py-3">Valor</th>
                    </tr>
                </thead>
                <tbody id="resultados-tbody" class="dark:text-gray-500">

                    <tr>
                        <th style="text-align: center;" >Información de consumo</th>
                    </tr>
                    <tr>
                        <td class="px-6 py-4">Total Watts AC</td>
                        <td id="totalWattsAC" class="px-6 py-4">N/A</td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4">Total Watts DC</td>
                        <td id="totalWattsDC" class="px-6 py-4">N/A</td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4">Consumo AC</td>
                        <td id="consumoAC" class="px-6 py-4">N/A</td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4">Consumo DC</td>
                        <td id="consumoDC" class="px-6 py-4">N/A</td> 
                    </tr>
                    <tr>
                        <th style="text-align: center;" >Dimensionamiento de baterías</th>
                    </tr>
                    <tr>
                        <td class="px-6 py-4">Consumo diario</td>
                        <td id="consumo" class="px-6 py-4">N/A</td> 
                    </tr>
                    <tr>
                        <td class="px-6 py-4">Baterias en paralelo</td>
                        <td id="batPar" class="px-6 py-4">N/A</td> 
                    </tr>
                    <tr>
                        <td class="px-6 py-4">Baterias en serie</td>
                        <td id="batSer" class="px-6 py-4">N/A</td> 
                    </tr>
                    <tr>
                        <td class="px-6 py-4">Total de baterias</td>
                        <td id="totalBat" class="px-6 py-4">N/A</td> 
                    </tr>
                    <tr>
                        <th style="text-align: center;" >Arreglo del sistema</th>
                    </tr>
                    <tr>
                        <td class="px-6 py-4">Amperes pico del arreglo</td>
                        <td id="corPic" class="px-6 py-4">N/A</td> 
                    </tr>
                    <tr>
                        <th style="text-align: center;" >Dimensionamiento de modulos fotovoltaicos</th>
                    </tr>
                    <tr>
                        <td class="px-6 py-4">Modulos en paralelo</td>
                        <td id="modPar" class="px-6 py-4">N/A</td> 
                    </tr>
                    <tr>
                        <td class="px-6 py-4">Modulos en serie</td>
                        <td id="modSer" class="px-6 py-4">N/A</td> 
                    </tr>
                    <tr>
                        <td class="px-6 py-4">Total de módulos</td>
                        <td id="totalMod" class="px-6 py-4">N/A</td> 
                    </tr>
                    <tr>
                        <th style="text-align: center;" >Dimensionamiento del controlador</th>
                    </tr>
                    <tr>
                        <td class="px-6 py-4">Capacidad cortocircuito</td>
                        <td id="capCor" class="px-6 py-4">N/A</td> 
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/fotovoltaico" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">Volver</a>
    </main>
    <footer class="bg-blue-900 text-white p-4 text-center">
        <p>&copy; 2024 Cálculos energéticos</p>
    </footer>
    <script src="../scripts/getResultados.js"></script>
</body>
