---
export interface Props {
  nombre: string;
  filePath: string;
  clase: string;
}
const { nombre, filePath, clase } = Astro.props;
---

<button class={clase} data-file-path={filePath}>{nombre}</button>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.downloadBtn').forEach(function(button) {
      button.addEventListener('click', function() {
        const pdfFilePath = this.getAttribute('data-file-path');
        const link = document.createElement('a');
        link.href = pdfFilePath;
        link.download = pdfFilePath.split('/').pop(); // Obtiene el nombre del archivo desde la ruta
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      });
    });
  });
</script>
