---

---
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #FFD700;
        color: black;
    }
    td {
        background-color: #FFF8DC;
    }
    .highlight {
        background-color: #FFA500;
        text-align: center;
    }
    .highlight td {
        text-align: center;
    }
</style>


    <table id="tablaMenor40">
        <tr>
            <td colspan="4" class="highlight">MIRAR SOLO SI ES EL CALCULO PARA &lt; 40 Metros</td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: #aceff0">Como la longitud es menor a 40 metros, es conveniente iniciar el cálculo con el criterio de capacidad de conducción de corriente.</td>
        </tr>
        <tr>
            <td>I = CORRIENTE (A)</td>
            <td colspan="3" id="corrienteMenor40"></td>
        </tr>
        <tr>
            <td>I' = CORRIENTE EQUIVALENTE (A)</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: #aceff0">VALOR DE SECCION TRANSVERSAL TOMADO DE LA TABLA 5.4a EPR XLPE 1-7 (2 CONDUCTORES)</td>
        </tr>
        <tr>
            <td colspan="2">SECCION TRANSVERSAL (mm2)</td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="2">DELTA V</td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="2">K De la tabla 5.17</td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="2">DELTA V CALCULADO (V)</td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: #aceff0">DELTA V CALCULADO 9,04761904761905V TIENE QUE SER MENOR QUE EL DELTA V PERMITIDO 8,4V PARA QUE EL AREA HALLADA CON EL CRITERIO DE LA CORRIENTE, SINO ES ASI ENTONCES DEBE DE BUSCARSE CAMBIAR ALGUNA CARACTERISTICA DEL CABLE COMO POR EJEMPLO SU AISLANTE</td>
        </tr>
        <tr>
            <td class="highlight" colspan="2">Seccion Transversal definitiva (mm2)</td>
            <td class="highlight" colspan="2"></td>
        </tr>
    </table>

