---
import Header from "../components/Header.astro"

const {pageTitle} = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/sun.png" /> 
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> {pageTitle} </title>
	</head>
	<body>
		
		<Header/>
        <slot/>
        <h1 class="text-4xl font-bold text-center text-gray-800 leading-tight my-4">{pageTitle}</h1>

	</body>

    <footer class="bg-blue-900 text-white p-4 text-center">
        <p>&copy; 2024 Cálculos energéticos</p>
    </footer>
</html>
